<body>
  <app-topbar></app-topbar>

  
  <div class="cards">
    <app-stockscards></app-stockscards>
  </div>
  
    <div class="container">
      <div class="app-risk-stats-portfolio">
        <table class="assets-table">
          <thead>
            <tr>
              <th style="color:#9e5d0d">Action</th>
              <th style="color:#9e5d0d">Stocks</th>
              <th style="color:#9e5d0d">Risque (Percentage)</th>
              <th style="color:#9e5d0d">Value</th>
              <th style="color:#9e5d0d">Investment Recommendation</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let asset of assets; let i = index" [ngClass]="{'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0, 'good-investment': asset.risquePercentage < 10, 'bad-investment': asset.risquePercentage >= 10}">
              <td>{{ asset.action }}</td>
              <td>{{ asset.stocks }}</td>
              <td>{{ asset.risquePercentage }}</td>
              <td>{{ asset.value }}</td>
              <td [ngClass]="{'good-recommendation': asset.risquePercentage < 10, 'bad-recommendation': asset.risquePercentage >= 10}">
                <span [ngStyle]="{'color': asset.risquePercentage < 10 ? 'green' : 'red'}">
                  {{ asset.risquePercentage < 10 ? 'Good to Invest' : 'Not Recommended' }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
          </div>

  
      <!-- Display the form -->
    
        
    </div>
  </body>