
.container {
    display: flex;
    max-width: 90%;
  }
  
  .app-risk-stats-portfolio {
    flex: 1;
  }

  label{
    color: white;
  }

  /* Styles for the form container */
.form-container {
  display: flex;
    

  }
  
  /* Styles for form groups */
  .form-group {
    margin-bottom: 20px;
  }

  
 
  

  
  /* Styles for select dropdown */
  select {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
  }

#myChart {
  max-width: 600px; /* Adjust the maximum width as needed */
  width: 100%;
  height: auto;
  margin: 0 auto; /* Center the chart horizontally */
}

#myLineChart {
  max-width: 200%; /* Adjust the maximum width as needed */
  width: 150%;
  height: auto;
  margin: 0 auto; /* Center the chart horizontally */
}

button {
  background-color: #685514;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}