
.container {
    display: flex;
    max-width: 90%;
  }
  
  .app-risk-stats-portfolio {
    flex: 1;
  }
  
  .market-history{
    width: 20%;
    box-sizing: border-box; /* Include padding and border in the width */
    padding: 20px;
  }
  
  input[type=text] {
   
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  label{
    color: white;
  }

  /* Styles for the form container */
.form-container {
  display: flex;
    

  }
  
  /* Styles for form groups */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Styles for labels */
  label {
    display: block;
    margin-bottom: 5px;
    color: white;
  }
  
  /* Styles for input fields */
  input[type="text"],
  input[type="number"],
  input[type="date"],
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Styles for submit button */
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Styles for select dropdown */
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
  }

  /* Styles for market history */
/* Styles for market history table */
.market-history {
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
 
  }
  
 
.market-history th,
.market-history td {
  border: 1px solid ; /* Set border to transparent */
  padding: 8px;
  width: 15%; /* Add padding for better readability */
}

.market-history th {
  background-color: #9e5d0d; /* Set background color for table headers */
  color: rgb(0, 0, 0); /* Set text color for table headers */
}

.market-history tr {
  background-color: #000000; /* Alternate row background color */
}

.red-row {
  color: rgb(151, 6, 6); /* Set text color for rows with negative change */
}

.white-row {
  color: green; /* Set text color for rows with non-negative change */
}

.cards{
    padding-left: 10%;
    padding-top: 2%;
}
#myChart {
  max-width: 600px; /* Adjust the maximum width as needed */
  width: 100%;
  height: auto;
  margin: 0 auto; /* Center the chart horizontally */
}

#myLineChart {
  max-width: 200%; /* Adjust the maximum width as needed */
  width: 150%;
  height: auto;
  margin: 0 auto; /* Center the chart horizontally */
}