<body>
  <app-topbar></app-topbar>
  
  <div class="cards">
  <app-stockscards></app-stockscards>
</div>
<div class="butto">
<button class="button" (click)="openDialog()">Add a portfolio</button> 
<button class="button" (click)="openDialog()">Filter Active</button>
</div>
    <div class="container">
      
      <div class="app-risk-stats-portfolio">
        <app-portfolio-cards></app-portfolio-cards>
          </div>
  
  
          <div class="market-history">
           
              <h2 style="color: white;">Daily Market</h2>
              <select [(ngModel)]="selectedBank">
                <option *ngFor="let bank of banks" [value]="bank">{{ bank }}</option>
              </select>
              <button (click)="getDataAndCalculatePercentageChange(selectedBank)">Update</button>
              <table>
                <thead>
                  <tr>
                    <th>Open</th>
                    <th>Close</th>
          
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Add rows dynamically using Angular ngFor directive -->
                  <tr *ngFor="let transaction of transactions" [ngClass]="{ 'red-row': transaction.price < transaction.stocks, 'white-row': transaction.price >= transaction.stocks }">
                    <td>{{ transaction.stocks }}</td>
                    <td>{{ transaction.price }}</td>
                
                    <td>{{ transaction.time }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
  
      <!-- Display the form -->
      
    </div>
  </body>