<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!------<title> Website Layout | CodingLab</title>------>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
   <app-sidebar></app-sidebar>
<body style="background-color: #F0F2F5;">


    <div class="container" style=" margin-left: 18%; ">
      
      <div class="row">
        <br>
        <br>
        
        <!-- Page content -->
        <app-overall-stocks></app-overall-stocks>
      </div>
    </div>

</body>
</html>