<body>
  <app-topbar></app-topbar>
  
    <div class="container">
      <div class="app-risk-stats-portfolio">
        <app-risk-stats-portfolio [selectedBank]="selectedBank"></app-risk-stats-portfolio>
          </div>
  
  
          <div class="market-history">
              <h2 style="color: white;">Market History</h2>
              <select [(ngModel)]="selectedBank" (ngModelChange)="getDataAndCalculatePercentageChange($event)">
                <option *ngFor="let bank of banks" [value]="bank">{{ bank }}</option>
              </select>
              <table>
                <thead>
                  <tr>
                    <th>Stocks</th>
                    <th>Price</th>
          
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Add rows dynamically using Angular ngFor directive -->
                  <tr *ngFor="let transaction of transactions" [ngClass]="{ 'red-row': transaction.price < transaction.stocks, 'white-row': transaction.price >= transaction.stocks }">
                    <td>{{ transaction.stocks }}</td>
                    <td>{{ transaction.price }}</td>
                
                    <td>{{ transaction.time }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
  
      <!-- Display the form -->
      <div class="form-container">
        <h2 style="color: white;">Portfolio details <button class="button"  (click)="test()">Close portfolio</button> </h2>  
          <form>

            <div class="form-group">
              <label for="portfolioName">Portfolio Name</label>
              <input type="text" placeholder="Portfolio name" value="{{portfolio.name}}"/>
            </div>
        
            <div class="form-group">
              <label for="startCapital">Start Capital ($)</label>
              <input type="text" placeholder="Start capital" value="{{portfolio.start_capital}}"/>
            </div>
        
            <div class="form-group">
              <label for="startingDay">Starting Day</label>
              <input type="date" value="Minimum" style="width: 20%;" value="{{portfolio.start_day}}"/>
            </div>
        
            <div class="form-group">
              <label for="startingDay">Fees</label>
              <input type="text" placeholder="Current capital" value="{{fee.type}}"/>
            </div>
        
            <div class="form-group">
              <label for="currentCapital">Volatility min ($)</label>
              <input type="number" placeholder="Current capital" value="{{portfolio.volatility_min}}"/>
            </div>

            <div class="form-group">
              <label for="currentCapital">Volatility max ($)</label>
              <input type="number" placeholder="Total return"   value="{{portfolio.volatility_max}}"/>
            </div>
        
            <div class="form-group">
              <button type="submit">Submit</button>
            </div>
          </form>
        </div>
        
    </div>


    
  </body>